.patratroz{
	position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
	background-color: #FF69B4;
}

.patratalbastru{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
	background-color: #0D4F8B;
}